[submodule "vendors/backbone.bootstrap-modal"]
	path = vendors/backbone.bootstrap-modal
	url = git://github.com/mattvoss/backbone.bootstrap-modal.git
[submodule "vendors/twitter-bootstrap-wizard"]
	path = vendors/twitter-bootstrap-wizard
	url = git://github.com/VinceG/twitter-bootstrap-wizard.git
