<!--
<div class="span5" id="timelineHolder">

</div>
-->
<div class="span10">
    <div class="row-fluid" style="margin-bottom: 5px;">
        <div class="span10">
            <div class="input-prepend input-append">
                <select data-width="auto" class="selectpicker" id="category">
                    <option value="confirmation">Confirmation #</option>
                    <option value="name">Name</option>
                    <option value="company">Company</option>
                </select>
                <input class="input-xxlarge"id="searchText" type="text" />
                <button type="submit" class="btn search">Search</button>
            </div>
        </div>
    </div>
    <div class="row-fluid" style="margin-bottom: 5px;">
        <div class="span10">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="addNewRegistrant">Add Registrant</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="regTable"></div>
    </div>
</div>
