<form class="bootstrap-admin-login-form">
    <h2 class="login-title">2014 Election</h1>
    <p class="text-muted">Scan your barcode or enter your registrant id</p>
    <div class="form-group clearfix">
      <div class="input-field">
        <input type="text" name="registrantid" id="registrantid" placeholder="Scan your barcode" class="input-lg">
      </div>

      <div class="keyboard-field">
        <button type="button" class="btn btn-success keyboard"><i class="fa fa-keyboard-o fa-2x"></i></button>
      </div>
    </div>
    <div class="form-group clearfix">
      <button type="button" class="btn btn-lg start-over">Start Over</button> <button type="button" class="btn btn-lg btn-primary next pull-right">Next</button>
    </div>
</form>
