<td>
    {{#is checked_in 1}}
    <i class="icon-ok icon-large" style="color: #468847;"></i>
    {{else}}
    <i class="icon-remove icon-large" style="color: #b94a48;"></i>
    {{/is}}
</td>
<td>
    {{badge_prefix}} - {{id}}
</td>
<td>
    {{confirmation}}
</td>
<td>
    {{#if lastname}}
        {{lastname}}, {{firstname}}
    {{else}}
        {{company}}
    {{/if}}
</td>
<td>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Manage
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <!-- dropdown menu links -->
            <li class="edit">
                <a href="#">Edit</a>
            </li>
            {{#is attend 1}}
                <li class="checkout">
                    <a href="#">Check Out</a>
                </li>
            {{else}}
                <li class="checkin">
                    <a href="#">Check In</a>
                </li>
            {{/is}}
        </ul>
    </div>
</td>
