<!--
<div class="span5" id="timelineHolder">

</div>
-->
<div class="span12">
    <div class="row-fluid" style="margin-bottom: 5px;">
        <div class="span12">
            <div class="hero-unit">
                <h1>Vote!</h1>
                <p>Scan your badge or enter your site id</p>
                <p>
                    <textarea rows="3" id="scan"></textarea>
                </p>
                <p>
                    <a class="btn btn-primary btn-large verify-btn">
                    Verify ID
                    </a>
                </p>
            </div>


        </div>
    </div>
</div>
